<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>
<body>
    <h1>商品一覧</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>価格</th>
            <th>操作</th>
        </tr>
        {{range .}}
        <tr>
            <td>1</td>
            <td>imo</td>
            <td>700</td>
            <td>
                <form action="/delete-product" method="POST">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <button type="submit">削除</button>
                </form>
                <button onclick="location.href='/update-product?id={{.ID}}'">変更</button>
            </td>
        </tr>
        {{end}}
    </table>
    <button onclick="location.href='/'">戻る</button>
</body>
</html>